@charset "UTF-8";

main {
	width: 320px;
	align-items: center;
	margin: 80px auto;
}

main h1 {
	font-size: 36px;
}

main form {
	display: grid;
}

.form-input {
	font-size: 18px;
	text-align: left;
	margin-bottom: 8px;
}

.form-input .input-area {
	height: 40px;
	display: flex;
	margin-top: 3px;
	align-items: center;
}

.form-input .input-area input {
	width: calc(100% - 24px);
	height: 80%;
	border: 1px;
	border-style: solid;
	font-size: 18px;
	padding: 0px;
}

main form button {
	width: 50%;
	height: 40px;
	font-size: 16px;
	margin: 16px auto 8px;
}