<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>登入頁面</title>

	<head th:insert="load/js :: js"></head>
	<link rel="stylesheet" th:href="@{/css/login.css}">

</head>




<body>


	<main>

		<h1>成員登入</h1>

		<form id="loginForm" method="POST" th:action="@{/userlogin}" th:object="${permission}" enctype="multipart/form-data"
			autocomplete="off">
			<input type="hidden" id="MESSAGE" th:value="${MESSAGE}" />

			<section class="form-input">
				<label>帳號/E-Mail</label>
				<div class="input-area">
					<input type="email" id="account" th:field="*{username}" maxlength="40" placeholder="請輸入郵件地址"
						required />
				</div>
			</section>
			<section class="form-input">
				<label>密碼</label>
				<div class="input-area">
					<input type="password" id="password" th:field="*{password}" maxlength="16" placeholder="請輸入密碼"
						required />
				</div>
			</section>
			<section>
				<input type="checkbox" name="remember">記住我</input>
			</section>
			<button>登入</button>

		</form>
	</main>

	<script th:src="@{/js/login.js}"></script>

</body>

</html>